.jumbotron {
  padding: 5%;
}
h2 {
  text-align: center;
}
p {
  font-style: italic;
}
.form-control {
  width: 90%;
  margin-left: 5%;
  margin-bottom: 5px;
}
.btn {
  margin: 5%;
}
.card-text p {
  margin-left: 8%;
  margin-bottom: 3px;
}
.card {
  padding: 5%;
}
#select-a-size {
  display: none;
  color: red;
}
#completed-order {
  display: none;
}